body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

#upper-section{
height: 72PX;
width: 100%;
display: flex;
align-items: center;


}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
}
.inv{
    filter: invert(1);
}

#home{
    display: flex;
    justify-content: center;
    width: 48px;
    align-items: center;
    height: 48px;
    border-radius: 50%;
    background-color: #1f1f1f;
}

